# LOG FILE
log_file=/opt/nagios/var/nagios.log


# cfg_dir=/opt/nagios/etc/objects
# object_cache_file=/opt/nagios/var/objects.cache
# precached_object_file=/opt/nagios/var/objects.precache
# cfg_file=/opt/nagios/etc/objects/commands.cfg
resource_file=/opt/nagios/etc/resource.cfg
status_file=/opt/nagios/var/status.dat
# check_external_commands=1
# command_check_interval=-1
interval_length=60

# host and services dir
cfg_dir=/opt/nagios/etc/hosts
cfg_dir=/opt/nagios/etc/services
# cfg_dir=/opt/nagios/etc/commands
cfg_dir=/opt/nagios/etc/periods
cfg_dir=/opt/nagios/etc/contacts

cfg_file=/opt/nagios/etc/commands/web_endpoint_commands.cfg

# NAGIOS USER
# This determines the effective user that Nagios should run as.
# You can either supply a username or a UID.

nagios_user=nagios



# NAGIOS GROUP
# This determines the effective group that Nagios should run as.
# You can either supply a group name or a GID.

nagios_group=nagios

# PROCESS PERFORMANCE DATA OPTION
# This determines whether or not Nagios will process performance
# data returned from service and host checks.  If this option is
# enabled, host performance data will be processed using the
# host_perfdata_command (defined below) and service performance
process_performance_data=1

#host perfdata
host_perfdata_file=/opt/nagios/var/host-perfdata
host_perfdata_file_mode=a
host_perfdata_file_processing_interval=15
host_perfdata_file_processing_command=process-host-perfdata
host_perfdata_file_template=DATATYPE::HOSTPERFDATA\tTIMET::$TIMET$\tHOSTNAME::$HOSTNAME$\tHOSTSTATE::$HOSTSTATE$\tHOSTSTATETYPE::$HOSTSTATETYPE$\tHOSTATTEMPT::$HOSTATTEMPT$\tHOSTEXECUTIONTIME::$HOSTEXECUTIONTIME$\tHOSTLATENCY::$HOSTLATENCY$\tHOSTOUTPUT::$HOSTOUTPUT$\tHOSTPERFDATA::$HOSTPERFDATA$

# Service perfdata
service_perfdata_file=/opt/nagios/var/service-perfdata
service_perfdata_file_mode=a
service_perfdata_file_processing_interval=15
service_perfdata_file_processing_command=process-service-perfdata
service_perfdata_file_template=DATATYPE::SERVICEPERFDATA\tTIMET::$TIMET$\tHOSTNAME::$HOSTNAME$\tSERVICEDESC::$SERVICEDESC$\tSERVICEPERFDATA::$SERVICEPERFDATA$\tSERVICECHECKCOMMAND::$SERVICECHECKCOMMAND$\tHOSTSTATE::$HOSTSTATE$\tHOSTSTATETYPE::$HOSTSTATETYPE$\tSERVICESTATE::$SERVICESTATE$\tSERVICESTATETYPE::$SERVICESTATETYPE$


# Status Data Processing
status_update_interval=10
check_service_freshness=1
check_host_freshness=1

# Define forbidden characters in macro output
illegal_macro_output_chars=`~$&|'"<>